<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

</head>
<body>
{%verbatim%}
<div class="container" id="orders_app">
    <div class="btn-success btn-lg" v-for="order in orders">
         Description:{{order.description}}
        <br>
        amount:{{order.amount}}
    </div>
{% endverbatim%}
    <script src="/static/app.js"></script>
</div>
</body>
</html>