{% extends 'index.html' %}
{% block body %}
{% load static %}
    <h2>Tasks in "List 1"</h2>
    <div class="todos-list">
        <table class="list">
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Due on</th>
                <th>Owner</th>
                <th>Mark</th>
            </tr>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.name }}</td>
                <td>{{ todo.created_date }}</td>
                <td>{{ todo.due_on_date }}</td>
                <td>{{ todo.owner }}</td>
                <td><button class="mark">Not Done</button></td>
            </tr>
            {% endfor %}
        </table>
        <div>
        <img class="image" src="{% static 'images/todo.jpg' %}"/>
        </div>
    </div>
    <div id="buttons">
        <a class="view" href="todos/1/completed">View completed tasks</a>
        <button class="delete">Delete this list</button>
    </div>

{% endblock %}